on: ["push", "pull_request"]

name: Test

concurrency:
  # Cancel older, in-progress jobs from the same PR, same workflow.
  # use run_id if the job is triggered by a push to ensure
  # push-triggered jobs to not get canceled.
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          uv venv
          uv pip install . --group lint

      - name: Run Black
        run: black --check .

      - name: Run isort
        run: isort --check-only .

      - name: Run flake8
        run: flake8 .

      - name: Run mdformat
        run: mdformat . --check

  type-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: astral-sh/setup-uv@v7
        with:
          # NOTE: Use minimum supported Python version to avoid using new syntax
          python-version: "3.10"

      - name: Run MyPy
        run: uv run --group lint --group test mypy .

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.10"

      - name: Run Pytest
        run: uv run --group test pytest -s
